/*

2588A9

969696

*/

.ATEs-ATE{
    background: #f2ae98;
    border-radius: 10px;
    color : #a94625;
    position: relative;
    cursor : pointer;
}

.ATEs-ATE:hover{
    filter: brightness(0.9);
}

.ATEs-ATE>p{
    position: absolute;
    left : 0; right : 0; top : 0; bottom : 0;
    margin : auto;
    width : fit-content;
    height : fit-content;
    font-weight: 600;
}